*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f2ec;
    background-image: radial-gradient(#f7e7d2 30%, transparent 0);
    background-size: 30px 30px;
    overflow: hidden; /* 防止滾動條顯示 */
}



#container{
    display: flex;
    justify-content: flex-end; /* 這裡將容器向右對齊 */
    margin-right: 20px;
    align-items: center;
    height: 100px;
    gap: 20px; /* 添加間隔 */
}
.option1, .option2, .option3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    width: 130px;
    border: #000 2px solid;
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
    position: relative; /* 為了使用絕對定位 */
    animation: fadeOut 2s ease-out; 
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.option1:hover, .option2:hover, .option3:hover{
    font-weight: bold;
    background-color: #f36c36;
    border: #f36c36 2px solid;
    color: #fff;
    cursor: pointer;
}

.text{
    cursor: default;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12rem;
    font-weight: bold;
    color: #000;
    margin-left: 50px;
    margin-top: 100px;
    position: relative; /* 為了使用絕對定位 */
    animation: moveIn 2s ease-out; /* 動畫效果，延遲2秒 */
}

@keyframes moveIn {
    from {
        left: -50%;
    }
    to {
        left: 0%;
    }
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

img {
    margin-top: -50px;
    width: 800px; /* 設定圖片的寬度 */
    height: auto;
    opacity: 0; /* 初始透明度 */
    animation: fadeIn 2s ease-out forwards; /* 動畫效果 */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* 初始透明度 */
        transform: translateY(-20px); /* 初始位置 */
    }
    to {
        opacity: 1; /* 最終透明度 */
        transform: translateY(0); /* 最終位置 */
    }
}

.footer{
    background-color: #221010;
    width:  100%;
    height: 85px;
}

  
